doctype html
// "npm install" to install dependencies
// "gulp build" to build website
// "gulp deploy" to deploy website
// Developed by Isaac Abrahamson for Zobel Aerial Photography

include head.pug

header
  .content.flex
    .text-container
      h1.animated.fadeIn Providing #[span aerial photography] solutions to eastern Iowa.
    //- .video-play.flex.animated.fadeIn
    //-   i.fa.fa-play
    .info-buttons
      a.btn.btn-blue(href='info.html') Watch video
      a.btn.btn-portfolio View portfolio #[i.fa.fa-arrow-right]

#about
  .container-fluid
    .row
      .col-md-4
        i.icon-drone.center-block
        h3 Professional Gear
        p Our #[a.drone-link(href='https://www.dji.com/phantom-3-pro' target='_blank') DJI Phantom 3 Professional] comes with extensive features and gives us the capabilities to take stunning 12MP pictures and 4K video footage.
      .col-md-4
        i.icon-license.center-block
        h3 Safety First
        p Zobel Aerial Photography is licensed to fly comercially by the FAA, and we have complete insurance coverage. Safe flying is our primary responsibility.
      .col-md-4
        i.icon-agro.center-block
        h3 Iowa Native
        p We fly commercially for realtors and businesses in the land of large farms, small towns, and friendly people - what we call "home sweet home".
    a.btn.btn-blue(href='info.html') Learn more

hr

#portfolio
  h2 #[span Check out] our work.
  .container-fluid
    .row.row-top
      .col-md-6.col-img.wow.fadeIn(data-wow-duration='1.5s')
        .img-box(style='background: url(http://res.cloudinary.com/isaacabrahamson/image/upload/v1495899416/house1_vlqzz5.jpg);')
      .col-md-6.col-img.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay=".15s")
        .img-box(style='background: url(http://res.cloudinary.com/isaacabrahamson/image/upload/v1495899417/house2_st8pic.jpg);')
    .row.row-middle.center-block
      .col-md-8.col-img.wow.fadeIn(data-wow-duration='1.5s')
        .img-box(style='background: url(http://res.cloudinary.com/isaacabrahamson/image/upload/v1495899413/fall_m7wibm.jpg);')
      .col-md-4.col-img.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay=".15s")
        .img-box(style='background: url(http://res.cloudinary.com/isaacabrahamson/image/upload/v1495899388/tipton-close_b2itra.jpg);')
    .row.row-full
      .col-md-12.col-img.wow.fadeIn(data-wow-duration='1.5s')
        .img-box(style='background: url(http://res.cloudinary.com/isaacabrahamson/image/upload/v1495899239/tipton-far_noa6yc.jpg);')
    .row-bottom
      .col-md-7.col-img.wow.fadeIn(data-wow-duration='1.5s')
        .img-box(style='background: url(http://res.cloudinary.com/isaacabrahamson/image/upload/v1495899342/flood_kcu7bz.jpg);')
      .col-md-5.col-img.wow.fadeIn(data-wow-duration='1.5s' data-wow-delay=".15s")
        .img-box(style='background: url(http://res.cloudinary.com/isaacabrahamson/image/upload/v1495899396/park_chysjd.jpg);')

#contact
  .overlay
    h2 Ready for #[span takeoff].
    .contact-info
      .text-container
        p.
          Our flights our determined by weather and FAA regulations.
          #[br]
          Please contact us for questions or to schedule a flying session.
      br
      .icon-container
        .row-icon
          i.icon-price-tags
          p $00 / hour
        .row-icon.icon-middle
          a(href='tel:5638866276')
            i.icon-phone
            p 563-889-0000
        .row-icon
          a(href='mailto:jeremy@zobelaerialphotography.com?subject=Aerial Photography Services')
            i.icon-envelop
            p jeremy@zobelaerialphotography.com
    

#weather
  h2 #[span Latest] flying forecast.
  .container.flex#weatherWeek

hr.bottom

footer.container
  .row
    .col-md-4.first-col
      p.copyright © 2017 by Zobel Aerial Photography. All rights reserved.
      p.copyright Website design and development by Isaac Abrahamson.
    .col-md-4.col-md-offset-1
      p We operate Mon-Fri and offer flexible timing in cooperation with our clients schedule and weather. Give us a call at 563-889-0000 for more information.
    .col-md-2.col-md-offset-1
      ul
        li: a(href='info') Info
        li: a(href='#portfolio' data-scroll) Portfolio
        li: a(href='') Partners

nav
  .nav-inner.animated.fadeInDown
    .logo ZAP
    ul
      li: a(href='info') info
      li: a(href='#portfolio' data-scroll) portfolio
      li: a(href='#contact' data-scroll) contact

script(src='./jquery.min.js')
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
script(src='particles.js')
script(src='app.js')
script(src='smooth-scroll.min.js')
script(src='sugar-custom.min.js')
script(src='./index.js')
